<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.modern_city">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Modern_City">
        <activity
            android:name=".ui.profiles.DetailsOfCraftActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".ui.profiles.CraftEditProfile"
            android:exported="true" />
        <activity
            android:name=".ui.profiles.UserEditProfile"
            android:exported="true">

        </activity> <!-- map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".UploadPhoto.MainUploadPhotoActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.ListOfCrafts"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.categories.Categories_CHB"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.profiles.CraftsmanProfilActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".TransportCatigoryActivity"
            android:exported="true" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.categories.CategoryDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.CraftsmanRegisterActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.profiles.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.categories.CrafsType"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".UserTypeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".CraftsUploadPhoto.MainUploadCraftPhotoActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            tools:ignore="DuplicateActivity">

        </activity>
    </application>

</manifest>